header
{
	height: var(--header-size);

	margin-top: var(--header-margin);
    width: 95vw;
	
	display: flex;
	justify-content: space-between;
	align-items: center;

    font-weight: light;
    font-size: var(--header-font-size);
    font-family: Segoe UI, -apple-system-headline, BlinkMacSystemFont, Roboto, sans-serif;
}
header h2
{
    font-size: var(--header-font-size);
    font-weight: bold;
}

nav
{
	margin: 0;
	padding: 0;
}
