@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

*
{
	/* border: 1px solid red; */

	margin: 0;
	padding: 0;

	box-sizing: border-box;
	list-style: none;
	flex: none;
}

body
{
	width: 100vw;

	background-color: var(--bg-color);
	
	font-size: var(--text-size);
	font-family: "Roboto", "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
	font-weight: 300; /* light */
	color: var(--text-color); 	
}

header
{
	margin-top: 5vw;
	margin-bottom: 5vw;
	margin-left: 2.5vw;

	font-weight: 500;
	font-size: var(--h2-size);
}
