*
{
	/* border: 1px solid red; */

	margin: 0;
	padding: 0;

	box-sizing: border-box;
	list-style: none;
}

body
{
	width: 100vw;
	height: 100vh;

	display: flex;
	/* justify-content: center; */
	flex-direction: column;
	align-items: center;

	background-color: var(--main-bg-color);

	font-size: var(--text-size);
	font-family: Segoe UI, -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
	font-weight: lighter;
	
	color: var(--text-color);
}

