.content
{
	/* width: 95vw; */
	width: var(--global-container-size);
	margin-left: var(--global-margin-left);
}

.content .main
{
	line-height: var(--main-line-height);
}

.content .contact
{
	margin-top: var(--global-mini-margin-top);
	font-size: var(--smalltext-size);
}

.content .myprojects
{
	margin-top: var(--global-margin-top);
}

.content .myprojects a
{
	font-size: var(--smalltext-size);
}