.content
{
	width: 95vw;
	margin-left: 2.5vw;
}

.content .main
{
	line-height: 120%;
}

.content .contact
{
	margin-top: 3vw;
	font-size: var(--smalltext-size);
}

.content .myprojects
{
	margin-top: 5vw;

}

.content .myprojects a
{
	font-size: var(--smalltext-size);
	
}