/* 
	TODO:
		- read about container query)
*/

:root
{
	/* font-sizes */
	--h2-size: calc(4vw + 4vh);
	--text-size: calc(4vw + 2vh);
	--smalltext-size: calc(2vw + 2vh);

	/* colors */
	--text-color: #1e1e1e;
	--bg-color: #9FAECC;
	
	--selection-day-color: #ECE3C1;
	--selection-night-color: #131c3e;

	/* header */
    --bg-nav: #97B6DF;
    --header-font-size: calc(2vw + 3vh);
		/* --header-size: 8vh; */
    --header-margin: 2vw;
}

::selection
{
	background-color: var(--selection-day-color);
}

a:link
{
	text-decoration: none;
	color: #0000EE;
}
a:visited
{
	color: #551A8B;
}
a:hover, a:active
{
	text-decoration: underline;
}
