@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

:root
{
	--global-margin-left: 2.5vw;
    --global-margin-top: 5vw;
	--global-mini-margin-top: 3vw;
	--global-container-size: 95vw;
	--global-fonts: "Roboto", "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
	
	
	/* content main */
	--main-line-height:	120%;
	
	/* font-sizes */
	--h2-size: calc(4vw + 4vh);
	--text-size: calc(4vw + 2vh);
	--smalltext-size: calc(2vw + 2vh);

	/* colors */
	--text-color: #1e1e1e;
	--bg-color: #9FAECC;
	
	--selection-day-color: #ECE3C1;
	/* --selection-night-color: #131c3e; */
}

::selection
{
	background-color: var(--selection-day-color);
}

a:link
{
	text-decoration: underline;
	color: #0000EE;
}
a:visited
{
	color: #551A8B;
}
a:hover, a:active
{
	text-decoration: none;
}


@media (min-width: 1250px)
{
	:root
{
	--global-margin-left: 1.5vw;
    --global-margin-top: 2.5vw;
	--global-mini-margin-top: 1vw;
	--global-container-size: 95vw;
		
	/* content main */
	--main-line-height:	110%;
	
	/* font-sizes */
	--h2-size: calc(4vw + 3vh);
	--text-size: calc(3vw + 2vh);
	--smalltext-size: calc(1vw + 2vh);
}
}
